:root {
  --main-color: #F59E0B;
}

.title{
	color: var(--main-color);
}

header{
	z-index: 888;
	color: #999;
	height: 60px;
	/*background-color: var(--main-color);*/
}
.button,
nav p:hover{
	color: #fff;
	background-color: var(--main-color);
}